@charset "utf-8";
@import url("reset.css");
@media all and (max-width: 1110px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  nav {
    display: flex;
  }
  .contents{
    gap: 16px;
  }
}
@media all and (max-width: 1042px) {
   
}
@media all and (max-width: 520px) {
  .main_menu li {
    margin-right: 10px;
  }
}
@media all and (max-width: 410px) {
  .main_menu {
    display: none;
  }
  .main_menu-1 {
    /* display: block; */
  }
  .menu_toggle_btn {
    display: block;
  }
}
@media all and (max-width: 768px) {
    .portfolioSwiper{
        width: 80%;
    }
}
@media all and (max-width: 320px) {
  /* feature */
  .feature .container {
    padding: 0;
  }
  .feature_list {
    flex-direction: column;
    background: none;
  }
  .feature_list .item {
    height: 120px;
    justify-content: flex-start;
    flex: none;
    background: url("../images/feature_bg.jpg") no-repeat;
    padding-left: 15px;
    border-right: none;
  }
  .feature_list .item:first-child {
    border: 0;
  }
  .feature_list .item:nth-child(2) {
    background-position: center center;
  }
  .feature_list .item:nth-child(3) {
    background-position: bottom right;
  }
  .feature_list .item a {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .services.container {
    padding: 50px 15px;
  }
  .contents {
    flex-wrap: wrap;
    gap: 20px;
  }
  /* footer */
  footer .ft_top{
    flex-direction: column;
    align-items: center;
  }
}
