@charset "utf-8";
@import url("reset.css");
@media all and (max-width:1110px){
    .container{
        width: 100%;
        padding: 0 15px;
    }
    nav{
        display: flex;
    }
}
@media all and (max-width:320px){
    nav{
        height: auto;
    }
    nav .main_menu{
        display: flex;
        flex-direction: column;
        background-color: #333;
        padding: 15px;
        width: 100%;
    }
}